<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>index</title>
    </head>
    <body class="bg-dark" onload="reqData();"> <!--when page load load reqData function to load in all tables-->
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <button id="test" type="button" class="btn btn-success pull-right" style="float:right">test</button>
                    </div>
                    <div class="col-sm">

                    </div>
                    <div class="col-sm">
                        <button id="createTodo" type="button" class="btn btn-success pull-right" style="float:right">Create</button>
                    </div>
                </div>
            </div>

        <!-- table with data from REST API -->
        <div class="bg-dark">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">_id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Created date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody id="tbody">        
                </tbody>
            </table>


            <script type="text/javascript">
                document.getElementById('createTodo').addEventListener('click', function (e) {
                    createTask();
                });
            </script>

            <script src="./src/index.js"></script>
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        </div>
    </body>
</html>